{% extends "projects/base.html" %}
<head>
    {% block head %}
        <title>Entry Details</title>
    {% endblock head %}
</head>
<body>
    {% block content %}
    <h1 class="ml-3 mb-2 mt-2" style="color:white;">Entry Details</h1>

    <div class="ml-3 mb-2" style="color:white;">
        <h2>{{ object.title }}</h2>
        <p>{{ object.date|date:"F d, Y" }}</p>
        <p>Entry: {{ object.content }}</p>
        <a class="btn btn-outline-light" href="{% url 'entry-update' object.id %}">Edit</a>
        <a class="btn btn-outline-danger" href="{% url 'entry-delete' object.id%}">Delete</a>
    </div>

    {% endblock content %}
</body>