{% extends "projects/base.html" %}
<head>
    {% block head %}
        <title>Your Diary</title>
    {% endblock head %}
</head>
<body>
    {% block content %}
    <h1>Today's Entries</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'projects-home' %}">Project List</a>
        <a href="{% url 'entry-create'%}">Write an Entry</a>

    {% endif %}

    {% if not todays_entry %}
        <p>No entries for today.</p>
        <a class="btn btn-outline-secondary" href="{% url 'entry-create'%}">Write an Entry</a>
    {% else %}
    {% for entry in todays_entry %}
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.date|date }}, {{ entry.date|time }}</p>
        <p>{{ entry.content }}</p>
        <a class="btn btn-outline-secondary" href="{% url 'entry-update' entry.id %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'entry-delete' entry.id %}">Delete</a>
    {% endfor %}
    {% endif %}

    <h2>Entries</h2>

        {% for entry in entries %}
        <p><a href="{% url 'entry-detail' entry.id %}">Entry on: {{ entry.date|date:"F d, Y" }}</a></p>
        {% endfor %}

    {% endblock content %}
</body>