{% extends "projects/base.html" %}
<head>
    {% block head %}
        <title>Your Diary</title>
    {% endblock head %}
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-7 ml-3 mb-2">
    <h1 class="mt-2" style="color:white;">Today's Entries</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'projects-home' %}">Project List</a>
        <a href="{% url 'entry-create'%}">Write an Entry</a>

    {% endif %}

    {% if not todays_entry %}
        <p class="ml-3 mb-2" style="color:white;">No entries for today.</p>
        <a class="btn btn-outline-secondary ml-3 mb-2" href="{% url 'entry-create'%}" style="color:white;">Write an Entry</a>
    {% else %}
    {% for entry in todays_entry %}
        <h2 style="color:white;">{{ entry.title }}</h2>
        <p style="color:white;">{{ entry.date|date }}, {{ entry.date|time }}</p>
        <p style="color:white;">{{ entry.content }}</p>
        <a class="btn btn-outline-light" href="{% url 'entry-update' entry.id %}">Edit</a>
        <a class="btn btn-outline-danger" href="{% url 'entry-delete' entry.id %}">Delete</a>
    {% endfor %}
    {% endif %}
</div>
            <div class="col-4 ml-5">
        <h2 style="color:white;">Entries</h2>

        {% for entry in entries %}
        <p style="color:white;"><a href="{% url 'entry-detail' entry.id %}">Entry on: {{ entry.date|date:"F d, Y" }}</a></p>
        {% endfor %}
            </div>
        </div>
</div>
    {% endblock content %}
</body>