

#comment_section {
    width: 750px;
    color: white;
}


#task_form {
    width: 750px;
    color: white;
}

#comment_form {
    width: 750px;
    color: white;
}

#about {
    width: 100%;
    color: white;
}
