{% extends "projects/base.html" %}
{% load static %}
<head>
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'projects/css/style.css' %}">
        <title>Projects</title>
    {% endblock head %}
</head>

    {% block content %}
    <h1 class="ml-5 mb-3 mt-2" style="color:white;">Project Home</h1>
    {% if user.is_authenticated %}
        <a class="btn btn-light btn-sm ml-5" href="{% url 'projects-create' %}" id="new_proj_button">+New</a>
    {% endif %}
    <div class="container-fluid ml-5" style="width: 95%;">
    <div class="row row-cols-2">
    {% for task_n, progress, project in data %}
        <div class="col-6 border-bottom border-right" style="background-color: #421b2e;" id="content">
            <h2 id="title"><a href="{% url 'projects-detail' project.id %}">{{ project.title }}</a></h2>
            <p class="small muted" id="progress">Progress: {{ progress }}%</p>
            <p id="about">{{ project.about }}</p>
            <p id="task_num">Tasks Left: {{ task_n }}</p>
        </div>
    {% endfor %}
    </div>
</div>


    {% endblock content %}
