{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'projects/css/detail_style.css' %}">
        <title>Project Details</title>
    {% endblock head %}
</head>
<body>

    {% block content %}

    <div class="col-9 ml-3 mb-3 mt-2" id="about">
        <h2>{{ object.title }}</h2>
        <p>By: {{ object.author }} on {{ object.date_posted|date:"F d, Y" }}</p>
        <p>About This Project: {{ object.about }}</p>
        <a class="btn btn-outline-light btn-sm badge-pill" href="{% url 'projects-update' object.id %}">Edit</a>
        <a class="btn btn-outline-danger btn-sm badge-pill" href="{% url 'projects-delete' object.id%}">Delete</a>
    </div>

    <div class="container-fluid">
        <div class="row row-cols-2">
            <div class="col-7 mr-3" style="width:800px; color:white;">
            <h2 class="ml-3 mb-2">Tasks</h2>
                {% if not tasks %}
                <h4 class="ml-3 mb-2">No Tasks Added</h4>
                {% else %}
            <table class="table table-bordered ml-3 mb-2">
                <thead style="background-color: #421b2e; color: white;">
                    <tr>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Status</th>
                        <th style="width:180px;">Action</th>
                    </tr>
                </thead>
                {% for task in tasks %}
                    <tr>
                        <td><a class="article-title" href="{% url 'tasks-update' task.pk %}">{{ task.desc }}</a></td>
                        <td>{{ task.deadline }}</td>
                        <td>{{ task.status }}</td>
                        <td style="text-align: center;">
                            {% if task.status == "Incomplete" %}
                            <a class="btn btn-outline-success btn-sm badge-pill" href="{% url 'tasks-complete' task.pk %}">Complete</a>
                            {% else %}
                            <a class="btn btn-outline-success btn-sm badge-pill" href="{% url 'tasks-complete' task.pk %}">Incomplete</a>
                            {% endif %}
                            <a class="btn btn-outline-danger btn-sm badge-pill" href="{% url 'tasks-delete' task.pk %}">Delete</a>
                        </td>
                </tr>
                {% endfor %}
            </table>
                {% endif %}
            </div>

            <div class="col-4" id="task_form">
                <form class="ml-5" method="POST" action="{% url 'tasks-create' object.id %}">
                {% csrf_token %}
                <fieldset class="form-group">
                <legend class="border-bottom">Add Task</legend>
                    {{ t_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-outline-success">
                </div>
                </form>
            </div>

            </div>
    </div>

    <div class="container-fluid">
        <div class="row row-cols-2">
        <div class="col" id="comment_section">
            <div class="ml-3 mb-2">
                <h3>Comments</h3>
            {% for comment in comments %}
                <br/>
                <strong> {{ comment.user_from}} : </strong> {{ comment.body }}
            {% endfor %}
            </div>
            </div>
            <div class="col-4 mr-5" id="comment_form">
        <form class="mr-5" method="POST" action="{% url 'comment-create' object.id %}">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom">Write a Comment</legend>
                    {{ c_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-outline-success">
                </div>
            </form>
                </div>

</div>
</div>

    {% endblock content %}
</body>